<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="ServicePort" value="52622" />

    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Literate" />
    <add key="serilog:write-to:LiterateConsole"/>
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <!--<add key="serilog:write-to:RollingFile.pathFormat" value="C:\Projects\github\NetProject\NetProjectTest\Logs\myapp-{Date}.txt" />-->
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />

  </appSettings>
</configuration>